*{
    box-sizing: border-box;
}
html{
    height:100%;
}
body{
    margin: 0;
    padding: 0;
}
img{
    display: block;
    border: none 0;
}

@supports (display: grid){
    .body_center{
        display: grid;
        min-height:100%;
    }
}

/* olds support */
.container{
    margin: 30px auto;
    display: table;
    min-width: 480px;
}
@supports (display: grid){
    .container{
        margin: 0;
    }
}
@media {
    .container{
        min-width: 320px;
    }
}
.container{
    overflow: hidden;
    max-width: 1000px;

    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: 280px 180px;
    grid-gap: 20px;
}
.container__flypage_size_1{
    grid-row-start: 1;
    grid-row-end: 3;
}

.flypage{
    display: block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
}

/* olds support */
.flypage_size_1{
    width: 280px;
    float: left;
    margin-right: 20px;
}
@supports (display: grid){
    .flypage_size_1{
        width: auto;
        float: none;
        margin-right: 0;
    }
}
.flypage_size_1{
    height: 450px;
}
/* olds support */
.flypage_size_2{
    width: 180px;
    float: right;
    clear: right;
    margin-bottom: 20px;
}
.flypage_size_2:last-child{
    margin-bottom: 0;
}
@supports (display: grid){
    .flypage_size_2{
        width: auto;
        float: none;
        clear: none;
        margin-bottom: 0;
    }
}
.flypage_size_2{
    height: 215px;
}
.flypage__img-holder{
    position: relative;
    display: grid;
    overflow: hidden;
    align-items: center;
    justify-items: center;
    border-radius: 5px;
}
.flypage__img-holder::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    background: rgba(255,255,255,0);
    transition-duration: .2s;
}
.flypage__img-holder_size_1{
    height: 450px;
}
.flypage__img-holder_size_1::after{
    background: rgba(0,0,0,0.2);
}
.flypage__img-holder_size_2{
    height: 135px;
}
.flypage__img{
    min-width: 100%;
    min-height: 100%;
}
.flypage__topic{
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 10px;
    display: inline-block;
    background-color: #db62a2;
    border-radius: 5px;
    text-align: center;

    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 11px;
    line-height: 22px;
    padding: 0 7px;
    letter-spacing: 1px;
    color: #ffffff;
}
.flypage__title{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-decoration: none;
}
.flypage__title_size_1{
    position: absolute;
    z-index: 2;
    left: 15px;
    right: 15px;
    bottom: 110px;
    max-height: 85px;

    font-family: "Times New Roman", serif;
    font-size: 21px;
    line-height: 28px;
    letter-spacing:1px;
    color: #ffffff;
}
.flypage__title_size_2{
    margin-top: 10px;
    max-height: 65px;

    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 21px;
    color: #111111;
}
.flypage__date{
    position: absolute;
    z-index: 2;
    left: 15px;
    right: 15px;
    bottom: 80px;
    display: block;
    overflow: hidden;

    font-family: Arial, sans-serif;
    font-size: 13px;
    letter-spacing: 0.5px;
    color: #ffffff;
    color: rgba(255,255,255,0.6);
}
.flypage__button{
    position: absolute;
    z-index: 2;
    left: 15px;
    bottom: 18px;
    display: inline-block;
    width: 200px;
    background-color: #eb4c32;
    transition-duration: .2s;
    border-radius: 22px;
    text-align: center;

    text-decoration: none;
    font-family: Verdana, sans-serif;
    font-size: 13px;
    line-height: 45px;
    letter-spacing: 1px;
    color: #ffffff;
}
.flypage__button:hover{
    background-color: #de361b;
}

@media screen and (max-width: 479px){
    .container{
        grid-template-columns: 280px;
    }
    /* olds support */
    .flypage_size_1{
        float: none;
        margin-right: 0;
    }
    .flypage_size_2{
        width: 280px;
        float: none;
        clear: none;
        margin-top: 20px;
    }
    @supports (display: grid){
        .flypage_size_2{
            width: auto;
            margin-top: 0;
        }
    }
}

/* hover */
.flypage:hover .flypage__img-holder_size_1::after{
     background: rgba(255,255,255,0.1);
}
.flypage:hover .flypage__img-holder_size_2::after{
     background: rgba(255,255,255,0.2);
}
.flypage:hover .flypage__title_size_2{
     color: #000;
}
